<%= form_for(register, html: { class: "form-horizontal" }, builder: ErrorFormBuilder) do |f| %>
  <div class="form-group">
    <%= f.label :firstname, "Förnamn" %>
    <div class="form-field">
      <%= f.text_field :firstname %>
      <%= f.error_for :firstname %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :lastname, "Efternamn" %>
    <div class="form-field">
      <%= f.text_field :lastname %>
      <%= f.error_for :lastname %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, "E-postadress" %>
    <div class="form-field">
      <%= f.text_field :email %>
      <%= f.error_for :email %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, "Lösenord" %>
    <div class="form-field">
      <%= f.password_field :password %>
      <%= f.error_for :password %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Lösenordet igen" %>
    <div class="form-field">
      <%= f.password_field :password_confirmation %>
      <%= f.error_for :password_confirmation  %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-buttons">
      <%= f.submit "Registrera mig som utvecklare", class: "btn-primary" %>
    </div>
  </div>
<% end %>
