<% provide :title, 'Registrera dig' %>

<h1>Registrera dig</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :firstname, "Förnamn" %>
  <%= f.text_field :firstname %>

  <%= f.label :lastname, "Efternamn" %>
  <%= f.text_field :lastname %>

  <%= f.label :email, "E-postadress" %>
  <%= f.text_field :email %>

  <%= f.label :password, "Lösenord" %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Lösenordet igen" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Registrera mig som utvecklare" %>
<% end %>
