<!DOCTYPE html>
<html>
<head>
  <title><%= full_title "Title", yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav id="developers-nav" role="navigation">
      <div class="container-fluid">
        <div class="nav-header"><%= link_to "Developers", developers_root_path %></div>

        <div class="nav-links">
          <ul>
            <li  class="<%= highlight?(:home) %>">
              <%= link_to "Första sidan", developers_root_path %>
            </li>
            <li class="<%= highlight?(:docs) %>">
              <%= link_to "Documentation", developers_doc_path('kom-igang') %>
            </li>
            <% if logged_in? %>
              <li class="<%= highlight?(:dashboard) %>">
                <%= link_to "Kontrollpanelen", developers_dashboard_index_path %>
              </li>
              <% if admin? %>
                <li class="<%= highlight?(:admin) %>">
                  <%= link_to "Admin", developers_admin_path %>
                </li>
              <% end %>
            <% end %>
          </ul>

          <% unless current_user %>
            <%= link_to "Logga in", login_url(subdomain: false), class: "nav-btn" %>
          <% end %>

          <% if current_user %>
            <%= link_to "Logga ut", logout_url(subdomain: false), class: "nav-btn" %>
            <p class="nav-user">
              Inloggad som <%= current_user.firstname %>
            </p>
          <% end %>
        </div>
      </div>
    </nav>

    <% flash.each do |type, error| %>
      <div class="alert alert-<%= type %>"><%= error %></div>
    <% end %>

    <%= yield %>

    <%= debug params if Rails.env.development? %>
  </div>
</body>
</html>
